numpy>1.19.2
scipy>=1.5.2
pandas>=1.1.2
dill>=0.3.2
# autograd>=1.3
# TODO, should be updated when new pip release for the autograd would be available
-e git://github.com/HIPS/autograd.git@4ec5aede380c5accf20afd4f4a96d59f1a9cd1df#egg=autograd
